<div class="container">
    <div class="col-md-6 offset-md-3 my-5">
        <div class="border text-center bg-primary p-0">
            <h2 class="text-white">
                ANGULAR4
            </h2>
           <div class="input-group">
               <input type="text" [(ngModel)]="new_item" class="form-control rounded-0">
               <span class="input-group-addon p-2 bg-secondary text-white" (click)="addNewItem()">ADD</span>
           </div>
           <ul class="list-group">
            <li class="list-group-item rounded-0" *ngFor="let item of items; let i = index">
                <span class="float-left">{{ item }}</span> <span class="badge badge-secondary float-right" (click)="removeItem(i)">x</span>
            </li>
          </ul>
        </div>
        <div class="text-center my-3">
           <div class="card">
               <div class="card-body">
                    <h2>Piping</h2><hr/>
                    {{ name }} <br/>
                    {{ name | uppercase }} <br/>
                    {{ day }} <br/>
                    {{ day | date }} <br/>
                    {{ day | date : 'shortDate' }} <br/>
                    {{ day | date : 'fullDate' }}
               </div>
           </div>
        </div>
        <div class="text-center my-3">
            <div class="card">
                <div class="card-body">
                    <h2>Custom (Piping)</h2><hr/>
                    {{ nums }} <br/>
                    {{ nums | addpipe }} <br/>
                    {{ fruit }} <br/>
                    {{ fruit | sortpipe : 'asc' }} <br>
                    {{ fruit | sortpipe : 'desc' }}
                </div>
            </div>
        </div>
    </div>
</div>